@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Prompt&display=swap");

/* 
font-family: 'Patrick Hand', cursive;
font-family: 'Prompt', sans-serif;
*/

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100vh !important;
  width: 100% !important;
  background-color: aliceblue !important;
  font-family: "Prompt", sans-serif !important;
}

.hero-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: auto;
}

.project-logo img {
  height: 300px;
  width: 300px;
  border-radius: 0.35rem;
}

.footer-container {
  padding: 1rem !important;
  background-color: white !important;
  font-family: "Patrick Hand", cursive !important;
}

.home-container {
  min-height: 100vh !important;
}

.card,
.box {
  margin-top: 1rem;
  background-color: transparent !important;
  margin-bottom: 1rem;
}

.add-container,
.breadcrumb-container {
  width: fit-content;
  margin: auto;
}

.form {
  width: 65%;
  margin: auto;
}

.detail-box {
  width: 65% !important;
  margin: auto !important;
}
